{% extends "auctions/layout.html" %}

{% block body %}
    <div class="wrapper auction-wrapper">
        <h1>{{ auction.title }}</h1>
        <div class="auction">

            {% if message %}
            <div class="message">
                {{ message }}
            </div>
            {% elif error %}
            <div class="error">
                {{ error }}
            </div>
            {% endif %}
        
            <div class="auction-image">
                <img src="{{ auction.picture_url }}">
            </div>

            <div class="info">
                <div><b>Category:</b> {{ auction.category.name }}</div>
                <div><b>By User:</b> {{ auction.user }}</div>
            </div>   
               



            {% if user == auction.user and auction.active %}
            <div class="category-form">
                <form class="form selection" action="{% url 'change_category' %}" method="post"> 
                    {% csrf_token %}
                    <select class="form-input select" name="category_chosen">
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="auction" value="{{ auction.pk }}">
                    <input class="form-input button" type="submit" value="Change Category">
                </form>
            </div>
            {% endif %}
            
        
            <div class="bids">
                {% if auction.active %}
                    <div class="auction-active">
                        <b>Auction is Active</b>
                    </div>

                    {% if bids %}
                        {% if request.user == bids.last.user %}
                            <div class="highest-bidder">You are the highest bidder!</div>
                        {% else %}
                            <div>Current highest bid by: {{ bids.last.user }}</div>
                        {% endif %}
                    {% else %}
                        <div>No bids, yet.</div>
                    {% endif %}

                    <div><b>Current minimum bid: {{ auction.price }}$</b></div>
                    {% if user.is_authenticated and user != auction.user %}
                        <div class="place_bid">
                            <form class="form bid-form" method="post">
                                {% csrf_token %}
                                {{ form_bid }}
                                <input class="form-input button" type="submit" value="Place bid">
                            </form>
                        </div>
                    {% endif %}

                {% else %}
                    <div><b>Auction is over. The highest bid was {{ auction.price }}$</b></div>
                    {% if request.user == bids.last.user %}
                        <div class="winner">You have won the auction. Congratulations!</div>
                    {% endif %}
                {% endif %}
                

            </div>
        
            <div class="comments">
                <div class="comment">
                    <h3>Comment section</h3>
                    {% for comment in comments %}
                        <b>{{ comment.user }} commented:</b><br>
                        {{ comment }}<br><br>
                    {% empty %}
                        <b>No comments, yet. Be the first one!</b>
                    {% endfor %}
                </div>
  
            
                {% if user.is_authenticated %}
                    <!-- Submit comment -->
                    <div class="submit_comment">
                        <form action="{% url 'submit_comment' auction.pk %}" method="post">
                            {% csrf_token %}
                            {{ form_comment }}
                            <input class="form-input button" type="submit" value="Post Comment">
                        </form>
                    </div>
        

                <div class="other-options">       
                    <!-- Add or remove item from watchlist -->
                    {% if auction.active and user != auction.user %}
                        <div class="watchlist">
                            <form action="{% url 'edit_watchlist' auction.pk %}" method="post">
                                {% csrf_token %}
                                {% if auction_in_watchlist %}
                                    <input type="hidden" name="delete" value="True">
                                    <input class="form-input button" type="submit" value="Delete From Watchlist">
                                {% else %}
                                    <input type="hidden" name="delete" value="False">
                                    <input class="form-input button" type="submit" value="Add to watchlist">
                                {% endif %}
                            </form>
                        </div>
                    {% endif %}
        
        
                    <!-- Close auction -->
                    {% if auction.user == request.user and auction.active %}
                        <div class="close_auction">
                            <form action="{% url 'close_auction' auction.pk %}" method="post">
                                {% csrf_token %}
                                <input class="form-input button" type="submit" value="Close this auction">
                            </form>
                        </div>
                    {% endif %}
                </div>
        
            {% elif not user.is_authenticated %}
                <h3>Log in to access user area</h3>
            {% endif %}
        </div>

    </div>
    

{% endblock %}