{% extends "auctions/layout.html" %}

{% block body %}
    <div class="wrapper register-wrapper">

        <h2>Register</h2>

        <div class="register">
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <form class="form registration-form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <input class="form-input text" autofocus type="text" name="username" placeholder="Username">
                <input class="form-input text" type="email" name="email" placeholder="Email Address">
                <input class="form-input text" type="password" name="password" placeholder="Password">
                <input class="form-input text" type="password" name="confirmation" placeholder="Confirm Password">
                <div class="form-flex">
                    <input class="form-input button" type="submit" value="Register">
                    <div>Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
                </div>

            </form>
        </div>
    </div>


{% endblock %}