{% extends "auctions/layout.html" %}

{% block body %}
    <div class="auctions-wrapper">
        {% if user.is_authenticated %}
            <h2>My watchlist</h2>
            {% for auction in auctions %}
                <div class="hstack">
                    {% if auction.picture_url != "" %}
                        <img class="auction-preview-image" src= "{{ auction.picture_url }}">
                    {% else %}
                        <img class="auction-preview-image" src="https://picsum.photos/id/119/300/200">
                    {% endif %}
                    <div class="vstack">
                        <a class="container-item title" href="{% url 'auction' auction.id %}">{{ auction }}</a>
                        <div class="container-item description">Description: {{ auction.description| truncatechars:100 }}</div>
                        <div class="container-item current_price">Current price: {{ auction.price }}$</div>
                    </div>
                </div>
            {% empty %}
                <h3>No item on watchlist</h3>
            {% endfor %}
        {% else %}
            <h2>Log in to see your watchlist</h2>
        {% endif %}
    </div>
{% endblock %}


