textarea {
    min-height: 400px;
}

.error-message {

}

.email-preview {
  display: flex;
  flex-flow: column;
  padding: 4px 12px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.email-preview:hover {
  transform: scale(1.02);
}

.email-preview .info {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.email-preview .participants {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.email-preview .subject {
  font-size: 14px;
  font-weight: 600;
}

