{% extends "network/layout.html" %}

{% block body %}
    <div class="create-post">
        <form action="{% url 'index' %}" class="create-post" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <textarea name="content" class="form-control" id="new-post" cols="30" rows="5" required></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Create Post">
        </form>
    </div>
    {% for post in posts %}
    <div class="post">
        {{ post.content }}
    </div>
    {% endfor %}
{% endblock %}