{% extends "network/layout.html" %}
{% load static %}
{% block body %}

{% if heading %}
    <h1>{{ heading }}</h1>
{% endif %}

{% if user.is_authenticated %}
    <div class="wrapper create-post-wrapper">
        <div class="create-post">
            <form action="{% url 'index' %}" class="create-post" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <textarea name="content" class="form-control" id="new-post" cols="30" rows="5" required></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Create Post">
            </form>
        </div>
    </div>
{% endif %}

<div class="wrapper posts-wrapper">
    {% for post in posts %}
        <div class="post">
            <div class="user"><strong><a href="{% url 'profile' post.user.id %}">{{ post.user }}</a></strong></div>
            <div class="timestamp"><strong>{{ post.timestamp}}</strong></div>
            <div class="content">{{ post.content }}</div>
            <div class="wrapper like-wrapper">
                <button type="button" class="btn btn-danger ">&#9829;</button>
                <div class="like-count">{{ post.likes }}</div>
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                {% if posts.has_previous %}
                    <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                {% endif %}
            </li>
            {% for page in posts.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li class="page-item">
                {% if posts.has_next %}
                    <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;</span>
                    </li>
                {% endif %}
            </li>
        </ul>
    </nav>

    </div>
</div>
{% endblock %}