{% extends "encyclopedia/layout.html" %}

{% block title %}
    Add Encyclopedia Entry
{% endblock %}

{% block body %}
    <h1>Add new entry here</h1>

    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <p class="error"> {{ error }}</p>
        <p><label for="content">Here you can add a new encyclopedia entry in Markdown</label></p>
        <p>
            <input type="text" name="title" placeholder="Enter Title" value="{{ title }}">
            <br><br>
            <textarea id="content" name="content" placeholder="Enter the markdown content for your new encyclopedia entry here.">{{ content }}</textarea>
        </p>
        <input type="submit" value="Submit">
    </form>
{% endblock %}