div {
    padding: 10px;
}

.header {
    padding: 10px;
    text-align: right;
}

.header a {
    color: black;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.header a:hover {
    background-color: rgb(200, 200, 200);
}

.search {
    background-color: yellow;
    text-align: center;
    padding-top: 300px;
}

input {
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
