div {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 60px;
}

.header {
    padding: 10px;
    text-align: right;
}

.header a {
    color: black;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.header a:hover {
    background-color: rgb(200, 200, 200);
}

.search {
    text-align: center;
    padding-top: 300px;
}

.search input {
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


table input {
    font-size: 30px;
}

#advanced_search_button {
    text-align: right;
}

#advanced_search_button > input {
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

form  { 
    display: table;     
}

form p {
    display: table-row;

}

form label { 
    display: table-cell; 
    font-size: 23px;
    padding-right:25px;
}

form input { 
    display: table-cell;
    border-color: lightgrey;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#advanced_submit {
    text-align: right;
}

#advanced_submit input {
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: rgb(57,126,236);
    border: 1px solid rgb(48,121,237);
    color: white;
    border-radius: 3px;
}