body {
    font-family: Arial, Helvetica, sans-serif
}

form {
    font-family: Arial, Helvetica, sans-serif
}

img {
    height:200px;
}

.image {
    text-align: center;
    padding-bottom: 0px;
}

div {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 60px;
}

.header {
    padding: 10px;
    text-align: right;
}

.header a {
    color: black;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.header a:hover {
    background-color: rgb(248,249,250);
}

.search {
    text-align: center;
    padding-top: 200px;
}

.search input[type=text] {
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(218,220,224);
    border-radius: 40px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.search input[type=text]:hover, .search input[type=text]:focus  {
    outline: none;
    box-shadow: 0 0 10px rgb(218,220,224);
}

.search input[type=submit] {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid rgb(248,249,250);
    border-radius: 5px;
    background-color: rgb(248,249,250);

}

.search input[type=submit]:hover{
    border: 2px solid rgb(218,220,224);
    cursor: pointer;
}

h1 {
    color: rgb(251, 58, 58);
    font-weight: normal;
}

#advanced_form  { 
    display: table;     
}

#advanced_form p {
    display: table-row;
}

#advanced_form label { 
    display: table-cell; 
    font-size: 20px;
    padding-right: 100px;
}

#advanced_submit {
    text-align: right;
}

.advanced_text { 
    display: table-cell;
    border-color: lightgrey;
    font-size: 20px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
}

.advanced_text:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(218,220,224) ;
}

#advanced_submit input { 
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 10px;
    background-color: rgb(57,126,236);
    border: 1px solid rgb(48,121,237);
    color: white;
    border-radius: 3px;
}

#advanced_submit input:hover {
    background-color: rgb(20, 100, 228);
}