body {
    padding: 10px;
}

div {
    padding-bottom: 20px;
}

.auction {
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 5px;
    background-color:bisque

}

#error {
    color: red;
}

#message {
    color: green;
}

#submit_comment {
    width: 300px;
}

#you_won {
    color: green;
}

h1 {
    background-color: bisque;
}